:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
	will-change: scroll-position;
}


a {
  color: inherit;
  text-decoration: none;
}

p {
	word-break: break-all;
}

/* 對於Webkit瀏覽器（Chrome、Safari、新版Edge等） */
::-webkit-scrollbar {
  display: none;
}

/* 為可滾動元素重新顯示滾動條 */
*:not([style*="overflow: hidden"]):not([style*="overflow:hidden"]) {
  scrollbar-width: auto; /* Firefox */
  -ms-overflow-style: scrollbar; /* IE and Edge */
}

/* 為 Webkit 瀏覽器的可滾動元素重新顯示滾動條 */
*:not([style*="overflow: hidden"]):not([style*="overflow:hidden"])::-webkit-scrollbar {
  display: block;
}